body {
    background-color: #FFFFCC;
    font-family: Arial;
}

/* need to fix this so that menu is over the frame, but doesn't cover it completely */
/* negative z-index: menu overlaps frame, BUT covers text fields
/* positive/blank z-index: text fields are writable, but the menu bar is way too big */
#menu_bar {
	/*hacky*/
	position: relative;
	overflow: hidden;
	
	/* z-index:-9999; */
}

#button_link{
	
	 background:none;
     border:none; 
     padding:0;
     color: red;
}

nav {
	font-size: 90%;
}

nav ul {
	list-style: none;
	display: inline;
}

/* need to fix this so that menu is over the frame, but doesn't cover it completely */
/* maybe just adjust the height? so you don't have to worry about overlapping? */
/* how big is the top frame, anyway? how to adjust where iframe is in the middle of the page? */
nav li {
	float: left;
	text-align: center;
	background-color: #FFFF6E;
	width: 140px;
	/*height: 100px;*/
}

nav li .sub {
	visibility:hidden;
}

nav li:hover .sub {
	visibility: visible;
}
