body {
    background-color: #FFFFCC;
    font-family: Arial;
}

/* menu bar */
nav {
	font-size: 90%;
	
}
nav ul {
	background-color: #FFFF6E;
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
 
nav ul ul {
	display: none;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul li:hover > ul {
	display: block;
	background-color: #FFFF6E;
}

nav ul ul li {
		float: none; 
		position: relative;
}
	
nav ul li {
	float: left;
	text-align: center;
	width: 140px;
}

table, tr, td {
	font-size: 95%;	
	border: 1px solid black;
}

/* frames */
 #menu_bar {
	hacky
	position: relative;
	overflow: hidden;
	height: 50x;
	z-index:-9999;
}

#welcome {
	hacky
	position: relative;
	overflow: hidden;
	height: 600px;
	
	z-index:-9999;
}

#button_link{
	
	 background:none;
     border:none; 
     padding:0;
  	 width: 50px;
  	 height: 20px;
  	 text-decoration: underline;
  	 color: blue;
     cursor: pointer;
}